.slide, .div1{
	border-radius: 25px;
}
.div1{
	margin-left: 80%;
}
.banner{
	width: 100%;
	height: 100px;
	background-color: #2E5894;
	margin-bottom: 20px;
}
.buttonLeft, .buttonRight{
	height: 100px;
	width: 100px;
	margin: 0px;
	margin-bottom: 15px;
}
#bannerButton{
	height: 60px;
	border-radius: 15px;
	margin-top: 20px;
	background-color: #00BFFF;
	border-width: 3px;
	border-color: black;
	border-style: solid;
	font-size: 16px;
	width: 150px;
}
#rightDiv{
	margin-left: 70%;
	border-width: 3px;
	border-color: black;
	border-style: solid;
	margin-top: 10px;
	border-radius: 10px;
	margin-right: 20%;
	float: right;
	width: 300px;
}
.bannerText{
		font-size: 20px;
}
.bottomBanner{
	width: 99%;
	height: 100px;
	background-color: black;
   	position: absolute;
   	bottom:0;
   	padding-bottom: 20px;
   	margin-bottom: 10px;
   }
.bottomText{
	color: white; 
	font-size: 20px;
	margin-right: 50px;
	margin-top: 70px;
}

@media all and (max-width: 500px){
	body{
		background-color: black;
	}
	.bottomBanner{
		background-color: white;
	}
	.bottomText{
		color: black;
		font-size: 20px;
		margin-right: 50px;
		margin-top: 70px;
	}
	
}


